.contacts{
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts__link {
  display: flex;
  height: 80px;
  align-items: center;
  text-decoration: none;

  color: var(--accent-color);

  font-size: 14px;
  font-weight: 500;
}

.contacts__link:focus,
.contacts__link:hover {
  color: var(--main-color);
}