.header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
}

.header__content {
  display: flex;
  justify-content: space-between;

  height: 80px;

  align-items: center;
}

.header--portfolio {
  margin-bottom: 94px;
}
