.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  height: 600px;

  background-color: var(--background-color);

  margin-bottom: 94px;
}

.hero__main-title {
  text-align: center;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;

  width: 696px;

  color: #fff;

  font-weight: 900;
}
