@import "./reset.css";
@import "./vars.css";
@import "./header.css";
@import "./container.css";
@import "./logo.css";
@import "./nav.css";
@import "./contacts.css";
@import "./hero.css";
@import "./features.css";
@import "./services.css";
@import "./team.css";
@import "./button.css";
@import "./footer.css";

/* site portfolio */

.filter__list {
  list-style: none;
}

.filter__button {
  padding: 6px 22px;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  font-family: Roboto;

  color: var(--secondary-color);
  background-color: var(--filter-color);

  border: none;
  border-radius: 4px;
}

.filter__button:focus,
.filter__button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.projects__list {
  list-style: none;
}

.projects__image {
  width: 370px;
  height: 294px;
}

.projects__title {
  line-height: 36px;
  font-size: 18px;
  font-weight: 700;

  color: var(--secondary-color);
}

.projects__text {
  font-size: 16px;
  line-height: 30px;

  color: var(--accent-color);
}

/* footer */

